@import "_header";

ul {
  display: flex; }
  ul a {
    text-decoration: none; }
    ul a:hover {
      color: red; }
  ul p {
    text-align: center; }

main section {
  background-color: red; }

main article {
  background-color: red;
  position: sticky; }
