/* variabbles color fondo footer main */
footer {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Tangerine', serif; }
  footer .footerClass {
    /* uso de variables para el color del footer */
    background: linear-gradient(to bottom, #e75480, #2e0d17);
    box-shadow: 0 0 15px colorFondoFooterMain1;
    grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
    display: grid;
    align-items: center;
    grid-template-areas: "footerNuetrasRedesArea footerEnlacesInteressArea footerDatosDeContactoArea fotterGoogleMapsArea";
    /* nuestras redes */
    /* enlaces de interes */
    /* datos de contacto */ }
    footer .footerClass .footerNuetrasRedes {
      grid-area: footerNuetrasRedesArea;
      width: 100%;
      height: 100%;
      text-align: center; }
      footer .footerClass .footerNuetrasRedes .h3FooterNuetrasRedes {
        font-size: 60px;
        padding: 0px;
        color: #f0e8ea; }
      footer .footerClass .footerNuetrasRedes .aFacceboockFooterNuetrasRedes {
        grid-area: aFacceboockFooterNuetrasRedesArea; }
        footer .footerClass .footerNuetrasRedes .aFacceboockFooterNuetrasRedes img {
          width: 50px;
          height: 50px;
          padding-right: 2%; }
      footer .footerClass .footerNuetrasRedes .aInstagramFooterNuetrasRedes {
        grid-area: aInstagramFooterNuetrasRedesArea; }
        footer .footerClass .footerNuetrasRedes .aInstagramFooterNuetrasRedes img {
          width: 50px;
          height: 50px;
          padding-right: 2%; }
      footer .footerClass .footerNuetrasRedes .aTwiteerNuetrasRedes {
        grid-area: aTwiteerNuetrasRedesArea; }
        footer .footerClass .footerNuetrasRedes .aTwiteerNuetrasRedes img {
          width: 50px;
          height: 50px;
          padding-right: 2%; }
    footer .footerClass .footerEnlacesInteress {
      grid-area: footerEnlacesInteressArea;
      width: 100%;
      height: 100%;
      text-align: center; }
      footer .footerClass .footerEnlacesInteress .ulFooterEnlacesInteress {
        grid-area: ulFooterEnlacesInteressArea;
        list-style: none; }
      footer .footerClass .footerEnlacesInteress .h3FooterEnlacesInteress {
        grid-area: h3FooterEnlacesInteressArea;
        font-size: 60px;
        padding: 0px;
        color: #f0e8ea; }
      footer .footerClass .footerEnlacesInteress li {
        margin-bottom: 10%; }
        footer .footerClass .footerEnlacesInteress li a {
          color: white;
          position: relative;
          margin-bottom: 10%;
          font-size: 30px; }
    footer .footerClass .footerDatosDeContacto {
      grid-area: footerDatosDeContactoArea;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(100%, 100%);
      grid-template-rows: 60px 1fr 1fr 1fr;
      display: grid;
      padding-right: 10%;
      grid-template-areas: "h3FooterDatosDeContactoArea h3FooterDatosDeContactoArea" "imgDireccionArea pDireccionArea" "imgWhatsappArea pWhatsappArea" "imgEmalArea pEmalArea"; }
      footer .footerClass .footerDatosDeContacto .imgEmal {
        grid-area: imgEmalArea;
        text-align: right;
        margin-top: 15%; }
        footer .footerClass .footerDatosDeContacto .imgEmal img {
          width: 40px;
          height: 40px; }
      footer .footerClass .footerDatosDeContacto .pEmal {
        grid-area: pEmalArea;
        color: white;
        text-align: left;
        padding-left: 5%;
        font-size: 40px; }
      footer .footerClass .footerDatosDeContacto .h3FooterDatosDeContacto {
        grid-area: h3FooterDatosDeContactoArea;
        font-size: 60px;
        padding: 0px;
        color: #f0e8ea;
        text-align: center; }
      footer .footerClass .footerDatosDeContacto .imgDireccion {
        grid-area: imgDireccionArea;
        text-align: right;
        margin-top: 30%; }
        footer .footerClass .footerDatosDeContacto .imgDireccion img {
          width: 40px;
          height: 40px; }
      footer .footerClass .footerDatosDeContacto .pDireccion {
        grid-area: pDireccionArea;
        color: white;
        font-size: 40px;
        text-align: left;
        padding-left: 5%;
        margin-top: 15%; }
      footer .footerClass .footerDatosDeContacto .imgWhatsapp {
        grid-area: imgWhatsappArea;
        text-align: right;
        margin-top: 30%; }
        footer .footerClass .footerDatosDeContacto .imgWhatsapp img {
          width: 40px;
          height: 40px; }
      footer .footerClass .footerDatosDeContacto .pWhatsapp {
        grid-area: pWhatsappArea;
        color: white;
        font-size: 20x;
        text-align: center;
        margin-top: 5%;
        text-align: left;
        padding-left: 5%;
        font-size: 40px; }
    footer .footerClass .fotterGoogleMaps {
      grid-area: fotterGoogleMapsArea;
      margin-left: 10%;
      width: 90%;
      height: 100%; }
      footer .footerClass .fotterGoogleMaps iframe {
        width: 100%;
        height: 100%;
        position: relative; }
  @media screen and (max-width: 990px) {
    footer .footerClass .fotterGoogleMaps {
      margin-left: 0%;
      padding-left: 0%;
      width: 100%;
      height: 100%; }
      footer .footerClass .fotterGoogleMaps iframe {
        width: 100%;
        height: 100%; }
    footer .footerClass {
      grid-template-columns: repeat(1fr);
      grid-template-rows: repeat(1fr, 1fr, 1fr, 1fr, 1fr, 1fr);
      grid-template-areas: "footerDatosDeContactoArea" "footerEnlacesInteressArea" "footerNuetrasRedesArea" "fotterGoogleMapsArea" "fotterGoogleMapsArea" "fotterGoogleMapsArea";
      font-size: 40px; }
      footer .footerClass .footerDatosDeContacto {
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(1fr);
        grid-template-rows: 100px 100px 100px 100px;
        display: grid;
        padding-right: 0px;
        grid-template-areas: "h3FooterDatosDeContactoArea" "imgDireccionArea pDireccionArea" "imgWhatsappArea pWhatsappArea" "imgEmalArea pEmalArea"; }
        footer .footerClass .footerDatosDeContacto .pDireccion {
          text-align: left;
          padding-left: 2%;
          font-size: 40px;
          margin-top: 5px; }
        footer .footerClass .footerDatosDeContacto .imgDireccion {
          margin: 2%; }
          footer .footerClass .footerDatosDeContacto .imgDireccion img {
            width: 30px;
            height: 30px; }
        footer .footerClass .footerDatosDeContacto .imgWhatsapp {
          margin: 2%; }
          footer .footerClass .footerDatosDeContacto .imgWhatsapp img {
            width: 30px;
            height: 30px; }
        footer .footerClass .footerDatosDeContacto .pWhatsapp {
          text-align: left;
          padding-left: 5%;
          font-size: 40px;
          margin-top: 2%; }
        footer .footerClass .footerDatosDeContacto .imgEmal {
          margin-top: 0px; }
          footer .footerClass .footerDatosDeContacto .imgEmal img {
            width: 30px;
            height: 30px; }
        footer .footerClass .footerDatosDeContacto .pEmal {
          text-align: left;
          padding-left: 5%;
          font-size: 40px;
          padding-top: 0px; }
      footer .footerClass .footerEnlacesInteress {
        grid-template-columns: 100%;
        grid-template-rows: repeat(1fr, 1fr);
        display: grid;
        grid-template-areas: "h3FooterEnlacesInteressArea" "ulFooterEnlacesInteressArea";
        justify-content: center;
        justify-items: center; }
        footer .footerClass .footerEnlacesInteress li {
          margin-bottom: 10%;
          font-size: 10px; }
      footer .footerClass .h3FooterEnlacesInteress {
        font-size: 60px; }
      footer .footerClass .h3FooterDatosDeContacto {
        font-size: 60px;
        text-align: center;
        padding: 0px;
        margin-bottom: 100px; }
      footer .footerClass .h3FooterNuetrasRedes {
        font-size: 60px;
        padding: 0px; }
      footer .footerClass .aFacceboockFooterNuetrasRedes img {
        width: 50px;
        height: 50px;
        padding-right: 2%; }
      footer .footerClass .aInstagramFooterNuetrasRedes img {
        width: 50px;
        height: 50px;
        padding-right: 2%; }
      footer .footerClass .aTwiteerNuetrasRedes img {
        width: 50px;
        height: 50px;
        padding-right: 2%; } }

.h3FooterEnlacesInteress {
  font-size: 60px; }

.h3FooterDatosDeContacto {
  font-size: 60px;
  padding: 0px; }

/* variabbles color fondo footer main */
header {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Tangerine', serif; }
  header .headerClass {
    box-shadow: 0 0 15px rgba(112, 2, 70, 0.5);
    font-size: 30px;
    background: linear-gradient(to top, #e75480, #2e0d17); }
    header .headerClass nav ul li a:hover {
      background-color: rgba(112, 2, 70, 0.5);
      color: #141313;
      transition-duration: 1s;
      border-radius: 50%; }
    header .headerClass #idLodoFacebook {
      height: 30px;
      width: 30px; }
      header .headerClass #idLodoFacebook :hover {
        height: 40px;
        width: 40px;
        transition-duration: 1s; }
    header .headerClass #idLodoInstagram {
      height: 30px;
      width: 30px; }
      header .headerClass #idLodoInstagram :hover {
        height: 40px;
        width: 40px;
        transition-duration: 1s; }
    header .headerClass #idLodoWhatsapp {
      height: 30px;
      width: 30px; }
      header .headerClass #idLodoWhatsapp :hover {
        height: 40px;
        width: 40px;
        transition-duration: 1s; }
  @media screen and (max-width: 990px) {
    header nav ul li {
      border-radius: 1%;
      text-align: center;
      margin-left: 50%; } }

/* variabbles color fondo footer main */
main {
  position: relative;
  background-image: url("https://i.imgur.com/t9wIuYo.jpg"); }
  main .mainIndexClass {
    align-items: center;
    position: relative;
    display: inline;
    /* utilizo for para crear las 6 clases de las imagenes y asignarle borde radius */ }

@keyframes gira {
  100% {
    transform: rotate(360deg);
    animation-delay: 4s; } }
    main .mainIndexClass .mainImagen1 {
      border-radius: 25%; }
    main .mainIndexClass .mainImagen2 {
      border-radius: 25%; }
    main .mainIndexClass .mainImagen3 {
      border-radius: 25%; }
    main .mainIndexClass .mainImagen4 {
      border-radius: 25%; }
    main .mainIndexClass .mainImagen5 {
      border-radius: 25%; }
    main .mainIndexClass .mainImagen6 {
      border-radius: 25%; }
    main .mainIndexClass .mainImg img {
      border-radius: 15%;
      animation-name: gira;
      animation-duration: 1s;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 5%;
      padding-bottom: 5%; }
    main .mainIndexClass .mainImg :hover {
      transition-duration: 1s;
      box-shadow: 1px 1px 6px 6px #2e0d17;
      opacity: 0.9;
      transform: scale(0.95); }
