.contactoMain {

    background-image: url("../imagen/fondo.jpg");
    color: black;
    background-size: 100%;

    .form-control {

        font-size: 30px;
    }

    h1 {

        display: flex;
        justify-content: center;
        color: $colorFondoFooterMain2;
        font-size: 50px;
        font-family: 'Tangerine', serif;
        font-weight: 900;
    }


}