@import 'variables';

.mainNosotros {


    background-image: url("../imagen/fondonosotros.png");











    p {
        text-align: center;
        color: $colorFondoFooterMain2;
        font-size: 20px;
        font-weight: 900px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        margin-left: 1%;
        margin-right: 1%;

    }



    h1 {
        display: flex;
        justify-content: center;
        color: $colorFondoFooterMain2;
        font-size: 50px;
        font-family: 'Tangerine', serif;
        font-weight: 900;

    }


    .iframeNosotros {
        display: flex;

        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
        animation-name: video;
        animation-duration: 2s;

        iframe {

            height: 550px;
            width: 50%;
        }


    }



    @keyframes video {
        0% {
            transform: scale(0.5);
        }


    }



    @media screen and (max-width: 768px) {


        .iframeNosotros {


            iframe {

                height: 350px;
                width: 80%;
            }



        }



    }

}