@import 'variables';



.fondo {
    background-image: url("../imagen/fondotrata.webp");
    background-size: 100%;




    .mainIndexClass {





        h1 {
            display: flex;
            justify-content: center;
            color: $colorFondoFooterMain2;
            font-size: 50px;
            font-family: 'Tangerine', serif;
            font-weight: 900;


        }

        align-items: center;
        position: relative;
        display: inline;


        @keyframes gira {
            100% {
                transform: rotate(360deg);
                animation-delay: $duracionAnimaciones;

            }


        }






        /* utilizo for para crear las 6 clases de las imagenes y asignarle borde radius */
        @for $i from 1 through 6 {

            .mainImagen#{$i} {
                border-radius: 25%;




            }
        }

        .mainImg {

            img {
                border-radius: 15%;
                animation-name: gira;
                animation-duration: 1s;
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 5%;
                padding-bottom: 5%;




            }

            :hover {

                transition-duration: 1s;
                box-shadow: 1px 1px 6px 6px $colorFondoFooterMain2;
                opacity: 0.9;

                transform: scale(0.95);



            }

        }



    }

    @media screen and (max-width: 980px) {


        background-size: 100% 100%;


    }

    @media screen and (max-width: 575px) {




        background-image: url("../imagen/fondo.jpg");

        background-size: 100% 100%;


    }





}