@import 'variables';

.mainNosotros {


    background-image: url("../imagen/fondonosotros.png");



   







    p {
        text-align: center;
        color: $white;
        font-size: 20px;
        font-weight: 900px;
        font-family: 'Times New Roman', Times, serif;
        font-weight:900;
    }



    h1 {
        display: flex;
        justify-content: center;
        color: $colorMainTestimonios;
        font-size: 50px;
        font-weight:900;
    }


    .iframeNosotros {
        display: flex;

        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
        animation-name: video;
        animation-duration: 2s;

        iframe {

            height: 550px;
            width: 80%;
        }

    }



    @keyframes video {
        0% {
            transform: scale(0.5);
        }


    }



    @media screen and (max-width: 768px) {


        iframe {

            height: 350px;
            width: 100%;
        }

    }

}