

/* variabbles color fondo footer main */
$colorFondoFooterMain1 : rgb(231, 84, 128) ; 
$colorFondoFooterMain2 : rgb(46, 13, 23) ; 
$colorMainTestimonios : rgba(112, 2, 70, 0.5);
$duracionAnimaciones: 4s ;
$white: white;
$black: rgb(241, 8, 136);