/* MAIN  index*/

/*  animacion  */

@keyframes gira {
  100% {
    transform: rotate(360deg);
    animation-delay: 4s
  }


}

@keyframes animar {
  0% {

    box-shadow: 1px 1px 6px 6px rgb(77, 59, 65);
    opacity: 0.9;

    transform: scale(0.95);
  }
}

.mainImagen1 {

  border-radius: 25%;
  grid-area: mainImagen1Area;


  padding: 25px;

}

.mainImagen2 {
  border-radius: 25%;
  grid-area: mainImagen2Area;

  padding: 25px;

}

.mainImagen3 {
  border-radius: 25%;
  grid-area: mainImagen3Area;

  padding: 25px;

}

.mainImagen4 {
  border-radius: 25%;
  grid-area: mainImagen4Area;

  padding: 25px;

}

.mainImagen5 {

  border-radius: 25%;
  grid-area: mainImagen5Area;
  padding: 25px;


}

.mainImagen11 {

  border-radius: 25%;
  grid-area: mainImagen11Area;
  padding: 25px;



}



.mainIndexClass {

 /*  grid-template-columns: repeat(1fr, 1fr, 1fr);
  grid-template-rows: repeat(1fr, 1fr); */
 /*  display: gri; */
  align-items: center;
position: relative;
display: inline;
/*   grid-template-areas:
    "mainImagen1Area mainImagen2Area mainImagen3Area"
    "mainImagen4Area mainImagen5Area mainImagen11Area"; */
  z-index: 2;

}

main {
  position: relative;
/*   background: linear-gradient(to left, rgb(238, 4, 70), rgb(245, 191, 206), rgb(239, 237, 237));

  background: linear-gradient(to left, rgb(248, 208, 220), rgb(248, 158, 185)); */

  background-image: url("https://i.imgur.com/t9wIuYo.jpg");


}


/*
.mainImg {



  animation-name: animar;
  animation-duration: 10s;


} */

.mainImg img {
  border-radius: 50%;
  animation-name: gira;
  animation-duration: 2s;

}




.mainImg :hover {

  transition-duration: 1s;
  box-shadow: 1px 1px 6px 6px rgb(77, 59, 65);
  opacity: 0.9;

  transform: scale(0.95);



}

@media screen and (max-width: 768px) {

  /* .mainIndexClass {

    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(1fr, 1fr, 1fr);

    grid-template-areas:
      "mainImagen1Area mainImagen2Area"
      "mainImagen3Area mainImagen4Area"
      "mainImagen5Area mainImagen11Area";


  } */




}