header {

  margin: 0;
  padding: 0;

  list-style: none;
  box-sizing: border-box;
  font-family: 'Tangerine', serif;


}

footer {

  margin: 0;
  padding: 0;

  list-style: none;
  box-sizing: border-box;
  font-family: 'Tangerine', serif;


}









/* header */
.headerImgRedes {

  text-align: center;
  padding: 5%;
  grid-area: headerImgRedesArea;


}

.headerLogo {

  text-align: left;
  grid-area: headerLogoArea;


}

#idLodo {

  height: 100%;
  width: 100%;

}

#idLodoFacebook {

  height: 30px;
  width: 30px;






}

#idLodoInstagram {

  height: 30px;
  width: 30px;


}

#idLodoWhatsapp {

  height: 30px;
  width: 30px;



}







.headerClass {


  box-shadow: 0 0 15px rgba(112, 2, 70, 0.5);



  font-size: 30px;
  background: linear-gradient(to top, rgb(231, 84, 128), rgb(94, 27, 47));

}


header nav ul li a:hover {
  background-color: rgba(112, 2, 70, 0.5);
  color: rgb(20, 19, 19);
  transition-duration: 1s;
  border-radius: 50%;


}


#idLodoFacebook:hover {

  height: 40px;
  width: 40px;
  transition-duration: 1s;




}

#idLodoInstagram:hover {

  height: 40px;
  width: 40px;
  transition-duration: 1s;




}

#idLodoWhatsapp:hover {

  height: 40px;
  width: 40px;
  transition-duration: 1s;




}



/* Footer */


.footerClass {


  background: linear-gradient(to bottom, rgb(231, 84, 128), rgb(46, 13, 23));
  box-shadow: 0 0 15px rgba(112, 2, 70, 0.5);
  grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);

  display: grid;
  align-items: center;
  grid-template-areas:
    "footerNuetrasRedesArea footerEnlacesInteressArea footerDatosDeContactoArea fotterGoogleMapsArea";


}




.aFacceboockFooterNuetrasRedes {

  grid-area: aFacceboockFooterNuetrasRedesArea;



}


.aInstagramFooterNuetrasRedes {
  grid-area: aInstagramFooterNuetrasRedesArea;

}

.aTwiteerNuetrasRedes {
  grid-area: aTwiteerNuetrasRedesArea;


}

.footerNuetrasRedes {

  width: 100%;
  height: 100%;
  text-align: center;

}


.footerNuetrasRedes {
  grid-area: footerNuetrasRedesArea;


}

.footerEnlacesInteress {

  grid-area: footerEnlacesInteressArea;


}



.ulFooterEnlacesInteress {
  grid-area: ulFooterEnlacesInteressArea;

  list-style: none;



}

.footerDatosDeContacto {
  grid-area: footerDatosDeContactoArea;


}


.h3FooterDatosDeContacto {
  grid-area: h3FooterDatosDeContactoArea;

}


.h3FooterEnlacesInteress {

  grid-area: h3FooterEnlacesInteressArea;


}

.imgDireccion {

  grid-area: imgDireccionArea;
  margin-top: 40%;
  margin-left: 50%;

}

.pDireccion {

  grid-area: pDireccionArea;
  color: white;
  font-size: 20px;
  text-align: center;

}

.imgWhatsapp {

  grid-area: imgWhatsappArea;
  text-align: right;
  margin-top: 30%;
}

.pWhatsapp {

  grid-area: pWhatsappArea;
  color: white;
  font-size: 20x;
  text-align: center;
  margin-top: 5%;
  text-align: left;
  padding-left: 5%;
  font-size: 40px;

}

.imgEmal {
  grid-area: imgEmalArea;
  text-align: right;
  margin-top: 15%;
}

.pEmal {
  grid-area: pEmalArea;
  color: white;
  font-size: 20x;
  text-align: center;

}

.footerDatosDeContacto {

  width: 100%;
  height: 100%;
  grid-template-columns: repeat(100%, 100%);
  grid-template-rows: 60px 1fr 1fr 1fr;
  display: grid;
  padding-right: 10%;

  grid-template-areas:
    "h3FooterDatosDeContactoArea h3FooterDatosDeContactoArea"
    "imgDireccionArea pDireccionArea"
    "imgWhatsappArea pWhatsappArea"
    "imgEmalArea pEmalArea";


}

.h3FooterDatosDeContacto {

  font-size: 25px;
  margin-top: 5%;
  color: rgb(240, 232, 234);
  text-align: center;

}





.imgWhatsapp img {

  width: 25px;
  height: 25px;
}



.imgEmal img {

  width: 25px;
  height: 25px;


}



.fotterGoogleMaps {


  grid-area: fotterGoogleMapsArea;
  margin-left: 10%;
  width: 90%;
  height: 100%;




}



footer .fotterGoogleMaps iframe {

  width: 100%;
  height: 100%;
  position: relative;
}


.h3FooterNuetrasRedes {


  color: white;
  font-size: 25px;
  margin: 5%;


}


.footerEnlacesInteress {
  width: 100%;
  height: 100%;
  text-align: center;

}

.h3FooterEnlacesInteress {
  font-size: 25px;
  margin: 5%;
  color: rgb(240, 232, 234);


}


.ulFooterEnlacesInteress li a {
  color: white;
  position: relative;

  margin-bottom: 10%;
  font-size: 30px;


}

.ulFooterEnlacesInteress li {


  margin-bottom: 10%;


}


/* arranca */

.pDireccion {

  text-align: left;
  padding-left: 5%;
  font-size: 40px;
  margin-top: 15%;

}




.imgDireccion img {


  width: 40px;
  height: 40px;



}

.imgWhatsapp img {

  width: 40px;
  height: 40px;

}






.imgEmal img {

  width: 40px;
  height: 40px;
}




.pEmal {


  text-align: left;
  padding-left: 5%;
  font-size: 40px;



}

.h3FooterEnlacesInteress {
  font-size: 60px;


}

.h3FooterDatosDeContacto {
  font-size: 60px;

  padding: 0px;


}

.h3FooterNuetrasRedes {
  font-size: 60px;
  padding: 0px;



}

.aFacceboockFooterNuetrasRedes img {
  width: 50px;
  height: 50px;
  padding-right: 2%;

}

.aInstagramFooterNuetrasRedes img {
  width: 50px;
  height: 50px;
  padding-right: 2%;

}

.aTwiteerNuetrasRedes img {
  width: 50px;
  height: 50px;
  padding-right: 2%;

}




/* responsive  header*/

@media screen and (max-width: 990px) {



  header nav ul li {

    border-radius: 1%;
    text-align: center;

    margin-left: 50%;


  }




  /* footer */


  footer .fotterGoogleMaps {

    margin-left: 0%;
    width: 100%;


  }

  .footerClass {



    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr, 1fr, 1fr, 1fr, 1fr, 1fr);

    grid-template-areas:
      "footerDatosDeContactoArea"
      "footerEnlacesInteressArea"
      "footerNuetrasRedesArea"
      "fotterGoogleMapsArea"
      "fotterGoogleMapsArea"
      "fotterGoogleMapsArea";
    font-size: 40px;


  }




  .footerDatosDeContacto {

    width: 100%;
    height: 100%;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 100px 100px 100px 100px;
    display: grid;
    padding-right: 0px;
    grid-template-areas:
      "h3FooterDatosDeContactoArea"
      "imgDireccionArea pDireccionArea"
      "imgWhatsappArea pWhatsappArea"
      "imgEmalArea pEmalArea";

  }






  .footerEnlacesInteress {


    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, 1fr);
    display: grid;
    grid-template-areas:
      "h3FooterEnlacesInteressArea"
      "ulFooterEnlacesInteressArea";
    justify-content: center;
    justify-items: center;

  }

  .ulFooterEnlacesInteress li {


    margin-bottom: 10%;
    font-size: 10px;



  }



  .pDireccion {

    text-align: left;
    padding-left: 2%;
    font-size: 40px;
    margin-top: 5px;


  }

  .imgDireccion {
    margin-top: 0px;
    padding-left: 25%;


  }

  .imgDireccion img {

    width: 30px;
    height: 30px;



  }




  .imgWhatsapp img {

    width: 30px;
    height: 30px;


  }

  .imgWhatsapp {
    margin: 2%;

  }


  .pWhatsapp {

    text-align: left;
    padding-left: 5%;
    font-size: 40px;
    margin-top: 2%;

  }


  .imgEmal {

    margin-top: 0px;
  }

  .imgEmal img {

    width: 30px;
    height: 30px;

  }



  .pEmal {


    text-align: left;
    padding-left: 5%;
    font-size: 40px;
    padding-top: 0px;


  }

  .h3FooterEnlacesInteress {
    font-size: 60px;


  }

  .h3FooterDatosDeContacto {
    font-size: 60px;
    text-align: center;
    padding: 0px;



    margin-bottom: 100px;



  }

  .h3FooterNuetrasRedes {
    font-size: 60px;
    padding: 0px;



  }

  .aFacceboockFooterNuetrasRedes img {
    width: 50px;
    height: 50px;
    padding-right: 2%;

  }

  .aInstagramFooterNuetrasRedes img {
    width: 50px;
    height: 50px;
    padding-right: 2%;

  }

  .aTwiteerNuetrasRedes img {
    width: 50px;
    height: 50px;
    padding-right: 2%;

  }

}