@mixin boxSizes($width,$heigth) {

    height:$heigth ;
    width:width ;

    
}


@mixin centraEnCaja() {

display: flex;
justify-content: center;
align-items: center;
    
}


.box__mixin {
@include boxSizes(250px,300px )   ;
border: 1px solid black;
@include centraEnCaja();

}